config/token.conf
logs/debugDrive.txt
logs/errors.txt
logs/logs.txt
logs/chatid.txt
classes/*.pyc
*.pyc
config/drive_credentials.json
config/settings.yaml
data/DMI_DB.db
module/*.pyc
data/archivioAvvisi.dat
data/avviso.dat
data/json/esami.json
pydrive
pydrive/*
data/json/esami.json
data/*.xls
debugDrive.txt
