token: ""

client_config_backend: settings
client_config:
  client_id:  <CLIENT ID>
  client_secret: <SECRET ID>
  redirect_uri: http://locahost:8080/

save_credentials: True
save_credentials_backend: file
save_credentials_file: config/drive_credentials.json
drive_folder_id: FOLDER_ID
drive_permission_duration: 12

get_refresh_token: True

gitlab:
  token: <GITLAB_AUTH_TOKEN>
  root: <GITLAB_ROOT_GROUP>

api_uri: 'http://localhost'
debug:
    disable_chatid_logs: 0
    disable_db: 0
    disable_drive: 1
    disable_gitlab: 1

test:
  api_hash: ''
  api_id: -1
  session: ''
  tag: ''
  token: ''
  representatives_group: ''
  dev_group_chatid: ''

dev_group_chatid: 0 
representatives_group: 0
