token: ""

gitlab:
  token: <GITLAB_AUTH_TOKEN>
  root: <GITLAB_ROOT_GROUP>

debug:
    disable_db: 0
    disable_drive: 1
    disable_gitlab: 1

dev_group_chatid: 0
dev_group_chatid_logs: 0
representatives_group: 0

# Google Drive settings
drive_folder_id: FOLDER_ID
drive_permission_duration: 12

client_config_backend: settings
client_config:
  client_id:  <CLIENT ID>
  client_secret: <SECRET ID>
  redirect_uri: http://locahost:8080/

save_credentials: True
save_credentials_backend: file
save_credentials_file: config/drive_credentials.json

test:
  api_hash: ''
  api_id: -1
  session: ''
  tag: ''
  token: ''
  representatives_group: ''
  dev_group_chatid: ''
